.mud-button-filled.mud-button-filled-error {
    color: var(--mud-palette-error-text);
    background-color: var(--mud-palette-error);
}

.mud-button-label {
    width: 100%;
    display: inherit;
    -ms-align-items: inherit;
    -o-align-items: inherit;
    -webkit-align-items: inherit;
    align-items: inherit;
    -o-justify-content: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
}

{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.sign-up-part {
    flex: 55;
    padding: 10px;
    height: 100vh;
    display: flex;
}

.sign-up-part-inner {
    flex: 1;
}

.sign-up-part-inner-inner {
    margin: 50px auto 50px;
    min-width: 380px;
    width: min-content;
    height: 100%;
}

.picture-part {
    flex: 73;
    height: 100vh;
    background-color: var(--mud-palette-info)
}

@media(max-width: 959px) {
    .sign-up-part {
        flex: 1;
        width: 100vw;
    }

    .sign-up-part-inner-inner {
        margin: 10px;
        min-width: 0;
        width: auto;
    }
}

.spacer {
    height: 100%
}