@page "/event-detail"

@using MudBlazor

@if (_isPageLoading)
{
    <div class="loader-container">
        <MudProgressCircular Color="Color.Primary"
                             Style="height: 10%; width: 10%;"
                             Indeterminate="true" />
    </div>
}
else
{
<MudGrid>
    <MudItem xs="12">
        @if (_organizationRequest?.ImageDataUrl is not null)
        {
            <MudImage Src=@_organizationRequest?.ImageDataUrl Alt="Image" Elevation="0" />
        }
    </MudItem>
    <MudItem xs="8">
        <MudText Typo="Typo.h4"
             Class="px-4 py-2">
                @_organizationRequest?.Title
        </MudText>
    </MudItem>
    <MudItem xs="4">
        <MudText Typo="Typo.h6"
                Class="px-4 py-2">
            Places left
        </MudText>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.h6"
                Class="px-4 py-2">
            @_organizationRequest?.Location
        </MudText>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.h4"
                Class="px-4 py-2">
            Description
        </MudText>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.h6"
            Class="px-4 py-2">
            @_organizationRequest?.Description
        </MudText>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.h4"
                Class="px-4 py-2">
            Skills required
        </MudText>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.h4"
                Class="px-4 py-2">
            SKILLS HERE
        </MudText>
    </MudItem>
</MudGrid>
}