@page "/event-detail"

@using MudBlazor

@if (_isPageLoading)
{
    <div class="loader-container">
        <MudProgressCircular Color="Color.Primary"
                             Style="height: 10%; width: 10%;"
                             Indeterminate="true" />
    </div>
}
else
{

}