.loader-container {
    display: flex;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.tabs ::deep .mud-tabs-toolbar {
    background-color: transparent !important;
}

.filters ::deep .mud-expand-panel {
    background-color: transparent !important;
}

.filters ::deep .mud-expand-panel-text {
    font-weight: 700;
    font-size: 24px;
}

.filters ::deep .mud-expand-panel-header {
    width: fit-content !important;
}

.filters ::deep .mud-icon-root {
    font-weight: 700;
    font-size: 24px;
}

.req-items {
    display: flex;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.req-item {
    margin: 15px;
    border-radius: 15px;
    background-color: grey;
    max-width: 45%;
    height: 450px;
    padding: 30px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-item-bar {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex: 1;
    width: calc(100% - 60px);
}