@model VolunteerManager.Domain.Models.ViewModels.ResetPasswordEmailViewModel
@{
    Layout = "_Layout";
}

<tr>
    <td align="left">
        <p class="basic-information-paragraph">
            We have received a request to reset your password.
            <br>
            <br> Click on the button below to reset your password.
        </p>
    </td>
</tr>
<tr>
    <td>
        <span style="line-height: 48px;">
            &nbsp;
        </span>
    </td>
</tr>
<tr>
    <td align="left" width="200px">
        <!--[if mso]>
            <span>
                <br>&nbsp;
            </span>
            <span>
                <br>&nbsp;
            </span>
            <span>
                <br>&nbsp;
            </span>

            <v:roundrect href="@Model.Url" style="height: 40px; v-text-anchor: middle; width: 300px;" arcsize="25%" padding="9px 22px" stroke="f" fillcolor="#20B7F7" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word">
            <w:anchorlock/>
            <v:textbox inset="0,0,0,0">
            <center>
        <![endif]-->
        <a href="@Model.Url" class="no-underline">
            <span class="basic-information-button">
                Reset your password
            </span>
        </a>
        <!--[if mso]>
            </center>
            </v:textbox>
            </v:roundrect>

            <span style="line-height: 48px;">
                <br>&nbsp;
            </span>
            <span style="line-height: 48px;">
                <br>&nbsp;
            </span>
            <span style="line-height: 48px;">
                <br>&nbsp;
            </span>
        <![endif]-->
    </td>
</tr>
<tr>
    <td>
        <span style="line-height: 48px;">
            &nbsp;
        </span>
    </td>
</tr>
<tr>
    <td valign="top">
        <p class="basic-information-paragraph">
            Please do not reply to this automated email.
            <br/>
            Thanks,<br> The Disclaimer Team
            <br>&nbsp;
            <br>
            <span style="line-height: 26px;">
                &nbsp;
            </span>
            <!--[if mso]>
                <span>
                    <br>&nbsp;
                </span>
            <![endif]-->
        </p>
    </td>
</tr>